body {
    background-color: blue;
    color: yellow;
}
body table {
    height: 50%;
    width: 50%;
    text-align: center;
    padding-top:275px;
}
body table thead {
    font-size: 50px;
    font-weight: bold;
}
body table tbody {
    font-size: 30px;
}