<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Student Information</title>
        <style>
            body {
                background-color: cornsilk;
            }
            .tableInf {
                width: 100%;
            }
            .tableTitle {
                color: red;
                text-align: center;
            }
        </style>
    </head>
    <body>
        <table align="center" border="1" class = 'tableInf'>
            <tr class = 'tableTitle'>
                <td colspan="2">
                    <h1>Student Information</h1>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <p><b>Name:</b></p>
                </td>
                <td>
                    <p>Hồ Du Tuấn Đạt</p>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <p><b>Student's ID:</b></p>
                </td>
                <td>
                    <p>2374802010097</p>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <p><b>Academic Year:</b></p>
                </td>
                <td>
                    <p>2023 - 2027</p>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <p><b>Major:</b></p>
                </td>
                <td>
                    <p>Information Technology</p>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <p><b>Hobbies:</b></p>
                </td>
                <td>
                    <li>Sport
                        <dd>
                            <li>Football</li>
                            <li>Basketball</li>
                            <li>Swimming</li>
                        </dd>
                    </li>
                    <li> advertisement
                        <dd>
                            <li>Play video games</li>
                            <li>Listen to music</li>
                            <li>Watch movies</li>
                        </dd>
                    </li>
                    <li> Daily activities
                        <dd>
                            <li>cooking</li>
                            <li>Read Technology news</li>
                        </dd>
                    </li>
                </td>
            </tr>
        </table>
    </body>
</html>